<div class="row">
  <div class="col-12 mb-2">
    <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Poly Objects">
          <ng-template ngbPanelContent>
            <button type="button" class="mb-2 btn btn-success" (click)="openAddPolyModal(addPolyModal)">
              <i class="fa fa-plus"></i>
              Add Poly object
            </button>
            <div class="row">
              <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2" *ngFor="let pr of polyResources; let i = index">
                <img src="{{ pr.thumbnail.url }}" class="img-fluid mb-1">
                <p class="text-center">{{ polyResourcesIds[i] }}</p>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
    </ngb-accordion>
  </div>
</div>

<ng-template #addPolyModal let-c="close" let-d="dismiss">

    <div class="modal-header">
      <h4 class="modal-title">Add Poly object</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div class="form-row mb-2">
        <div class="col-10">
          <input class="form-control" placeholder="Enter keywords" required (keyup.enter)="searchKeywords()" [(ngModel)]="keywords"
            name="keywords">
        </div>
        <div class="col-2">
          <button class="btn btn-primary btn-block" (click)="searchKeywords()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <form (ngSubmit)="addPoly()">
        <div class="card text-center text-secondary mb-2">
          <div class="card-body">
            <div *ngIf="showPlaceholderEmptySearch">
              <p class="card-text">
                <i class="fa fa-5x fa-search"></i>
              </p>
              <h5 class="card-text">We couldn't find any 3D objects matching your search</h5>
            </div>
            <div class="form-row">
              <div class="form-group col-6 col-md-4 col-sm-4" *ngFor="let resource of searchResult; let i = index">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" value="{{ i }}" [(ngModel)]="selectedPolyIndex" name="selectedPolyIndex">
                  <img src="{{ resource.thumbnail.url }}" class="img-fluid">
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success">OK</button>
        </div>
      </form>
  
    </div>
  
  </ng-template>