<div *appLoading="loadingProject">

  <div class="row">
    <div class="col-12">
      <h1 class="page-header">
          {{ project.title }}
          <button type="button" class="btn btn-outline-primary btn-md" (click)="save()">
            <i class="fas fa-save"></i>
            SAVE
          </button>
      </h1>
      <p>{{ project.description }}</p>
    </div>
    <div class="col-12">
      <p *ngFor="let m of messages">
        <ngb-alert [type]="m.type" (close)="closeAlert(m)">{{ m.content }}</ngb-alert>
      </p>
    </div>
  </div>
  
  <!-- Resources -->
  <app-predefined-marker [project]="project" [resources]="resources"></app-predefined-marker>
  <app-poly [project]="project" [resources]="resources"></app-poly>
  
</div>

<div class="row">
  <div class="col-12">
    <div id="blocklyArea" style="height:60vh;" #blocklyarea>
      <div id="blocklyDiv" style="position: absolute;" #blocklydiv></div>
    </div>
  </div>
</div>