
  <div class="row">
    <div class="col-12">
      <div *appLoading="loadingProject">
        <h1 class="page-header">
            {{ project.title }}
            <button type="button" class="btn btn-outline-primary btn-md">
              <i class="fas fa-play"></i>
              PREVIEW THIS APP
            </button>
        </h1>
        <p>{{ project.description }}</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <div *appLoading="loadingProject">
        <!-- Resources -->
        <app-predefined-fiducial-marker *ngIf="frameworkSupport.resources.pfmarker" [project]="project" [resources]="resources"></app-predefined-fiducial-marker>
        <app-predefined-natural-marker *ngIf="frameworkSupport.resources.pnmarker" [project]="project" [resources]="resources"></app-predefined-natural-marker>
        <app-poly *ngIf="frameworkSupport.resources.poly" [project]="project" [resources]="resources"></app-poly>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div id="blocklyArea" class="px-5" style="height:80vh;" #blocklyarea>
        <div id="blocklyDiv" style="position: absolute;" #blocklydiv></div>
      </div>
    </div>
  </div>



  