<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <a routerLink="/" routerLinkActive="active" class="navbar-brand">
    <img src="assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    SimpleAR Editor
  </a>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-primary" id="userActions" ngbDropdownToggle>John Doe</button>
    <div ngbDropdownMenu aria-labelledby="userActions">
      <button class="dropdown-item">
        <i class="fas fa-user"></i> Profile
      </button>
      <button class="dropdown-item">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </div>
</nav>

<div class="pt-5 px-3">
  <router-outlet></router-outlet>
</div>