.page-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.vertical-container {
    height: 250px;
}

.dashed-card {
    border-style: dashed;
    border-color: var(--primary);
    border-width: 4px;
}

.clickable {
    cursor: pointer;
}

label>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
    display: none;
}

label>input+img {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 8px solid transparent;
}

label>input:checked+img {
    /* (RADIO CHECKED) IMAGE STYLES */
    border: 8px solid var(--success);
}

.accordion .card:first-of-type {
    border-bottom-color: rgba(0, 0, 0, 0.125) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
}

.img-full {
    width: 100%
}